*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    display: grid;
   /* grid-template-columns: 300px auto;*/
    grid-template: 'header header header'
                 '. main .'
                 'footer footer footer';
    gap: 5px;
}

header{
    grid-area: header;
    background: #a4bce0;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background: rgb(241, 161, 224);
}




main{
  background: #b4daaf;;
}