* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto',sans-serif,arial;
    color:gray;
}

.student-form{
    margin:auto;
}

h1 {
  color: black;
  font-style: normal;
  text-align: center;
}

