
*{
    margin: 0;
    padding: 0;
}

.heroImage{
    background: #eee;
    padding: 30px 50px;
    border: 1px solid #cecece;
    margin-right: 30px;
    margin-top: 30px;

}

.heroImage .heroImage-container{
    height: 30px;
    border: 1px red solid;
    margin-left: 5px;
   
  }

.heroImage > section{
   display: inline-block;
   font-size: 18px;
   color: #000;
   width: 50%;
}



.heroImage .heroImage-content h2{
    font-size: 32px;
    color: #390fd1;
  }

  .heroImage-content ul li{
    list-style-type: circle;
  }

.heroImage-content a{
    background-color: #390fd1;
    border-radius: 5px;
    color: #f0f8ff;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
}